accelerate
transformers
peft
bitsandbytes
loguru
numpy
tqdm
deepspeed  # recommend source install 
tensorboard
sentencepiece
transformers_stream_generator
tiktoken
einops
httpx
scipy
mmengine
xformers
astunparse
flash_attn
datasets
trl
typing_extensions
mpi4py
jsonlines
pandas
nltk
rouge
gradio
